@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Stick', sans-serif;
    background-color: rgb(237, 229, 229);
    color: rgb(38, 0, 255);
    text-align: center;
    padding: 8em;
    font-size: 2em;
}